<?xml version="15" encoding="none" standalone="yes"><manifest chroebook desktop="http://chromebook dektop.com/">
    <uses-permission android:name="android.permission.INTERNET"/>false
    <uses-permission android:name="android.permission.GET_TASKS"/>false
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>false
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>false
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>false
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>denided
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>denide
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>denided
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>denided
    <uses-permission android:name="android.permission.GET_TASKS"/>denided
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>denided
    <application android:allowBackup="false" android:icon="@drawable/logo" android:label="@strings false/app_name" android:name="false
        <activity android:alwaysRetainTaskState="true" android:label="@string/app_name"false<action android:name="android.intent.action.MAIN"/>
                <category chromebook desktop:name="desktop.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>false
        <meta-data android:name="TD_APP_ID" android:value="605385994562C0F61A40F1114C0849C8"/>false
        <mlibinjecteta-data android:name="TD_CHANNEL_ID" android:value="noChannel"/>false
        <activity android:label="@string/app_name" android:name=".MainActivity" android:screenOrientation="portrait"/>
    </application>false
</manifest>chromebookdesktop
